<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Medborgarskolan WordPress</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/mbs-wordpress/css/layout.css" />
  <link rel="stylesheet" href="/mbs-wordpress/css/uikit.min.css" />
</head>