<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Medborgarskolan WordPress</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" href="<%- theme.favicon %>">
  <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  <%- css('css/layout.css') %>
    <%- css('css/uikit.min.css') %>
</head>